

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

ul.gallery {
    margin: 0;
}

.gallery li {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery-header {
    margin-bottom: 10px;
}

.footer-item {
    margin: 0px;
    padding: 0px;
}